
name: refahi_infra

services:
  infra_postgres:
    image: postgres:16
    container_name: infra_postgres
    environment:
      POSTGRES_USER: refahi
      POSTGRES_PASSWORD: SuperSecurePass123
      POSTGRES_DB: postgres
      TZ: Asia/Tehran
    volumes:
      - /opt/Refahi/refahi-data/postgres/data:/var/lib/postgresql/data
      - /opt/Refahi/refahi-data/postgres/backups:/backups
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U refahi -d postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - refahi_infra_net
      - refahi_prod_net
      - refahi_stage_net
    restart: always

  postgres-backup:
    image: postgres:16
    container_name: infra_postgres_backup
    environment:
      PGPASSWORD: SuperSecurePass123
      TZ: Asia/Tehran
    volumes:
      - /opt/Refahi/refahi-data/postgres/backups:/backups
    entrypoint: >
      bash -c "
        while true; do
          timestamp=$(date +%Y%m%d_%H%M%S);
          echo \"[INFO] Running backup at $timestamp\"; 
          pg_dump -h postgres -U holooadmin holoohub > /backups/backup_$timestamp.sql &&
          find /backups -type f -mtime +7 -delete;
          sleep 21600;
        done
      "
    depends_on:
      infra_postgres:
        condition: service_healthy
    networks:
      - refahi_infra_net
    restart: always

networks:
  refahi_infra_net:
    external: true
  refahi_prod_net:
    external: true
  refahi_stage_net:
    external: true    